@charset "utf-8";


/*基本的html設定*/

html {
margin: 0px;
padding: 0px;
height:1400px;
width: 100%;	 
background: url(../image/backgroundwood2.png)  repeat-y; 
background-position: right;
background-color: #f9ffcf;
}

body { 
padding: 0px; 
margin: 0px; 
width:100%; 
height:1600px;
background: url(../image/backgroundwood.png) repeat-y;
background-position: left;
z-index:2;
}

.formBody{
height:1150px;
}
header{
height:265px;
background: url(../image/headee.png) repeat-x;	
}

footer {
	background: url(../image/footer.png) repeat-x;	
	height:87px;
	position: relative;
	width: 100%;
	bottom: 0;
	z-index: 2;
	/*文字*/
	color: #FFF;
	font-family: Candara;
	text-align: center;
	padding-top:255px;;
}

.labelTitle{
	font-size:1.1em;
	line-height: 200%;
}
.labelBigTitle{
	font-size:2em;
	line-height: 300%;
}
form{
	font-family: Candara;
}

/*====我自訂的各個子區塊====*/
/*小板*/
#titlePic {
	background-image: url(../image/title.png);
	height:380px;
	width: 240px;
	background-repeat: no-repeat;
	background-size:100%;
	margin-top: 50px;
	margin-left: 50px;
	position: absolute;
	}
/*左側自介欄*/
#myProfilePhoto{
	background-image: url(../image/profilePhoto.jpg);
	height: 200px;
	width: 200px;
	top: 400px;
	margin-top: 100px;
	margin-left: 30px;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid #999;
	padding: 6px;
	background-color:#F60;
}

.myProfile{
	height: 650px;
	width: 212px;
	margin-top: 30px;
	margin-left: 30px;
}

.myProfile ul{
	margin-top: 20px;
	background-image: url(../image/profileBG.png);
	background-size: 100%;
	text-align: center;
	font-size: 1.1em;
	line-height: 200%;
    border:5px hidden;
}

.myProfile li{
	background-color:#FFC;
	background-size: 100%;
	text-align: left;
	font-size: 0.9em;
	line-height: 200%;
	padding-left:20px;
	font-family: Candara;


}


/*興趣*/
.myIntrestHead{
	background-image: url(../image/head.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 311px;
	z-index: 100;
	vertical-align: middle;

}

.myIntrest{	
	width: 500px;
	margin-bottom: 0px;
	padding-bottom: 40px;
    background-image: url(../image/middle.png);
}

.myIntrest p,
.myIntrest h1, 
.myIntrest h2, 
.myIntrest h3, 
.myIntrest dt, 
.myIntrest dd,
.myIntrest ul{	
	margin-left: 60px;
	margin-right: 60px;
	line-height: 150%;
	font-family: Candara;
}

.myIntrest dt{	
    font-size:2em;	
	font-weight: bold;
}

.myIntrest dd{
	font-size: 1.1em;
}

.myIntrest ul{
	font-size:0.5em;	
}


.myIntrestLow{
	background-image: url(../image/low.png);
	background-repeat: no-repeat;
	height: 490px;
	width: 100%;
	bottom: 0px;
	z-index: 5;
}

.myIntrestLowPhoto{
	background-image: url(../image/vader.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	height: 217px;
	width: 280px;
	bottom: 20px;
	z-index: 7;
	top: 160px;
	left: 120px;
	border: 3px solid #309;
}

/*右側作品*/
#myWork{
    background-image: url(../image/009.jpeg);
	background-size:100%;
	height: 300px;
	width: 220px;
	top: 400px;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid #999;
	padding: 6px;
	background-color:#F60;
	
}



/*區塊*/
.block-intrest {
	width: 500px;
	height: 1148px;
	margin-left: 300px;
	position: absolute;
	z-index: 20;
	left: 82px;
	top: 210px;
}

.block-profile {
	width: 200px;
	height: 200px;
	margin-top: 30px;
	margin-left: 30px;
	background-size:100%;
}

.block-Work {
	width: 238px;
	height: 350px;
	position: absolute;
	z-index: 20;
	left: 1052px;
	top: 379px;
}

.block-Work p{
	background-color:yellow;
	text-align:center;
	border: 3px solid #999;
}

.block-Form{
    width: 300px;
	height: 500px;
	margin-left: 400px;
	z-index: 20;
	left: 82px;
	top: 210px;
}

.block-Form{
	width: 300px;
	height: 500px;
	margin-left: 400px;
	z-index: 20;
	left: 82px;
	top: 300px;
	position: absolute;
}
/*設定*/
.bold{
font-weight: bold;
}